* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    height: 100vw;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}




/* HEADER */
.main-header {
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
}
.overhead-bar {
    width: 95%;
    height: 0.3rem;
    background-color: #E00B25;
    position: absolute;
    top: 0;
    position: fixed;
}




/* NAVIGATION */
.header-nav {
    position: absolute;
    left: 5%;
    width: 30%;
    height: 3.2rem;
}
.header-nav-item {
    display: flex;
    display: inline-block;
    width: 8rem;
    text-align: center;
    padding: 0.5rem 0rem;
}
.nav-text {
    color: white;
    font-size: 1.8rem;
    display: flex;
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.nav-text:hover {
    font-style: italic;
}





/* MENU BUTTON */
.menu-btn,
.header-nav-item {
    height: 100%;
    margin-right: 1.6rem;
    
    
}
.menu-btn{
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 2.5%;
    display: flex;
    cursor: pointer;
}
.btn-burger-topl {
    background-color: white;
    width: 60%;
    height: 0.2rem;
    position: absolute;
    top: 0.6rem;
    transition: all .3s ease-in-out;
}
.btn-burger-topr {
    background-color: white;
    width: 60%;
    height: 0.2rem;
    position: absolute;
    top: 0.6rem;
    right: 0;
    transition: all .3s ease-in-out;
}
.btn-burger-btml {
    background-color: white;
    width: 70%;
    height: 0.2rem;
    position: absolute;
    bottom: 0.6rem;
    transition: all .3s ease-in-out;
}
.btn-burger-btmr {
    background-color: white;
    width: 60%;
    height: 0.2rem;
    position: absolute;
    bottom: 0.6rem;
    right: 0;
    transition: all .3s ease-in-out;
}
.menu-btn:hover .btn-burger-btmr {
    transform: translateX(-1rem);
    background-color: transparent;
} 
.menu-btn.open .btn-burger-topl {
    transform: rotate(45deg);
    background-color: black;

}
.menu-btn.open .btn-burger-topr {
    transform: rotate(-45deg);
    background-color: black;

}
.menu-btn.open .btn-burger-btml {
    transform: rotate(-45deg);
    width: 60%;
    background-color: black;
}
.menu-btn.open .btn-burger-btmr {
    transform: rotate(45deg);
    background-color: black;
}
/* MAIN MENU */
.main-menu {
    height: 100%;
    width: 0%;
    background-color: white;
    position: absolute;
    transition: all .5s ease-in-out;
    overflow: hidden;
}
.main-menu-open {
    width: calc(100% / 3);
}
.menu-main-nav {
    position: absolute;
    width: 80%;
    height: 30%;
    top: 15rem;
    left: 5rem;
}
.menu-main-nav-item {
    display: inline-block;
    border-bottom: 0.2rem #cdcdcd solid;
    width: 100%;
    height: calc(100%/3);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu-main-nav-arrow-container {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0.2rem;
    translate: -6rem;
    transition: all .3s ease-in-out;
}
.menu-main-nav-arrow-line {
    width: 2.5rem;
    height: 0.3rem;
    background-color: transparent;
    transition: all .3s ease-in-out;
}
.menu-main-nav-arrow-line::after,
.menu-main-nav-arrow-line::before {
    border-radius: 0.2rem;
    content: '';
    width: 1.5rem;
    height: 0.3rem;
    background-color: transparent;
    position: absolute;
    transition: all .2s ease-in-out;
}
.menu-main-nav-arrow-line::after {
    transform: rotate(45deg);
    translate: 1.5rem -0.5rem;
    transition: all .3s ease-in-out;
}
.menu-main-nav-arrow-line::before {
    transform: rotate(-45deg);
    translate: 1.5rem 0.5rem;
    transition: all .3s ease-in-out;
}
.menu-main-nav-item:hover .menu-main-nav-arrow-container {
    translate: 0rem;
}
.menu-main-nav-item:hover .menu-main-nav-arrow-line {
    background-color: black;
}
.menu-main-nav-item:hover .menu-main-nav-arrow-line::before {
    background-color: black;
}
.menu-main-nav-item:hover .menu-main-nav-arrow-line::after {
    background-color: black;
}
.menu-main-nav-text {
    font-size: 4rem;
    position: absolute;
    transition: all .2s ease-in-out;
}
.menu-main-nav-item:hover .menu-main-nav-text {
    translate: 5rem;
}
.menu-sub-nav {
    position: absolute;
    width: 30%;
    height: 20rem;
    left: 5rem;
    bottom: 25rem;
}
.menu-sub-nav-item {
    display: inline-block;
    width: 100%;
    height: calc(100%/6);
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.menu-sub-nav-arrow-container {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0.2rem;
    transition: all .3s ease-in-out;
    translate: -5rem;
}
.menu-sub-nav-arrow-line {
    width: 1.5rem;
    height: 0.3rem;
    background-color: transparent;
    transition: all .4s ease-in-out;
}
.menu-sub-nav-arrow-line::after,
.menu-sub-nav-arrow-line::before {
    border-radius: 0.2rem;
    content: '';
    width: 0.7rem;
    height: 0.3rem;
    background-color: transparent;
    position: absolute;
    transition: all .4s ease-in-out;
}
.menu-sub-nav-arrow-line::after {
    transform: rotate(45deg);
    translate: 1rem -0.2rem;
    transition: all .4s ease-in-out;
}
.menu-sub-nav-arrow-line::before {
    transform: rotate(-45deg);
    translate: 1rem 0.2rem;
    transition: all .4s ease-in-out;
}
.menu-sub-nav-item:hover .menu-sub-nav-arrow-container {
    translate: -1rem;
}
.menu-sub-nav-item:hover .menu-sub-nav-arrow-line {
    background-color: black;
}
.menu-sub-nav-item:hover .menu-sub-nav-arrow-line::before {
    background-color: black;
}
.menu-sub-nav-item:hover .menu-sub-nav-arrow-line::after {
    background-color: black;
}
.menu-sub-nav-text {
    font-size: 1.8rem;
    white-space: nowrap;
    position: absolute;
    transition: all .25s ease-in-out;
}
.menu-sub-nav-item:hover .menu-sub-nav-text {
    translate: 3.5rem;
}

.main-menu-extention-clothing-one {
   position: absolute;
   width: 0;
   height: 100%;
   background-image: url(/Mammut/menu-backgrounds/clothing.jpg);
   background-size: cover;
   background-position: center;   
   transition: all .3s ease-in-out;
   left: 100%;
}
.clothing-nav {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 40%;
    display: flex;
    justify-content: center;
}
.clothing-nav-content-wrapper {
    width: 85%;
    height: 70%;
    margin-top: 10%;
}
.clothing-nav-item {
    display: inline-block;
    border-bottom: 0.2rem solid #92999d;
    width: 100%;
    height: 10rem;
    margin-top: 10rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.clothing-nav-item:hover .nav-content {
    transform: translateX(4.5rem);
}
.clothing-nav-item:hover .arrow-line {
    background-color: #dcdde0;
}
.clothing-nav-item:hover .arrow-line::after {
    background-color: #dcdde0;
}
.clothing-nav-item:hover .arrow-line::before {
    background-color: #dcdde0;
}
.clothing-nav-item:hover .arrow-container {
    translate: -1.5rem;
}
.extention-text {
    color: white;
    font-size: 4rem; 
    position: absolute;
    transition: all .2s ease-in-out;
}
.clothing-nav-item:hover .extention-text {
    translate: 3.5rem;
}
.main-menu-extention-clothing-two {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: white;
    left: 200%;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.extention-two-nav-wrapper-shop-by-activity {
    position: absolute;
    width: 85%;
    height: 50rem;
    top: 16.2rem;
    overflow: hidden;
}
.extention-two-nav-item {
    display: inline-block;
    width: 100%;
    height: calc(100%/5);
    border-bottom: 0.2rem black solid;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.extention-two-nav-item:hover .category-card-icon-wrapper-item-first {
    translate: 0rem;
}
.extention-two-nav-item:hover .category-card-icon-wrapper-item-second {
    translate: 0rem;
}
.extention-two-nav-item:hover .category-card-icon-wrapper-item-third {
    translate: 0rem;
}









/* LOGO */
.logo-wrapper {
    width: 18rem;
    height: 2.5rem;
}
.logo {
    width: 100%;
    height: 100%;
}




/* ICON NAV */
.header-icon-wrapper {
    width: 10%;
    height: 3.2rem;
    position: absolute;
    right: 2.5%;
}
.header-icon {
    display: flex;
    width: 3.2rem;
    height: 100%;
    margin-left: 1.6rem;
    float: right;
    position: relative;
    cursor: pointer;
}
.login-icon {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
}
.login-head {
    border: 3px solid white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    transition: all .1s ease-in-out;
    top: 0.2rem;
}
.login-body {
    border: 0.3rem solid white;
    border-radius: 50%;
    width: 2.5rem;
    height: 1.5rem;
    position: absolute;
    transition: all .1s ease-in-out;
    border-top: 0.3rem solid white;
    border-left:  0;
    border-bottom:  0;
    border-right: 0;
    bottom: -0.5rem;
}
.login-icon:hover .login-head {
    border-color: red;
}
.login-icon:hover .login-body {
    border-color: red;
}
.loop-icon {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
}
.loop-curcle {
    border: 3px solid white;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    transition: all .1s ease-in-out;
}
.loop-handle {
    position: absolute;
    background-color:white;
    width: 1.12rem;
    height: 0.3rem;
    right: 0;
    bottom: 0;
    rotate: 45deg;
    translate: 0.2rem -0.5rem;
    border-radius: 0.5rem;
    transition: all .1s ease-in-out;
}
.loop-icon:hover .loop-curcle {
    border-color: red;
}
.loop-icon:hover .loop-handle {
    background-color: red;
}
.basket-icon {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
}
.basket-handle {
    width: 1.5rem;
    height: 0.7rem;
    border: 0.3rem white solid;
    position: absolute;
    top: 0.2rem;
    border-bottom: 0;
    border-radius: 0.2rem;
    transition: all .1s ease-in-out;
}
.basket-top {
    width: 90%;
    height: 0.3rem;
    background-color: white;
    position: absolute;
    top: 10px;
    border-radius: 0.2rem;
    transition: all .1s ease-in-out;
}
.basket-sidel {
    width: 0.3rem;
    height: 50%;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    rotate: -10deg;
    translate: 0.3rem -0.5rem;
    border-radius: 0.2rem;
    transition: all .1s ease-in-out;
}
.basket-sider {
    width: 0.3rem;
    height: 50%;
    background-color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    rotate: 10deg;
    translate: -0.3rem -0.5rem;
    border-radius: 0.2rem;
    transition: all .1s ease-in-out;
}
.basket-bottom {
    width: 70%;
    height: 0.3rem;
    background-color: white;
    position: absolute;
    bottom: 0.5rem;
    border-radius: 0.2rem;
    transition: all .1s ease-in-out;
}
.basket-icon:hover .basket-handle {
    border-color: red;
}
.basket-icon:hover .basket-top {
    background-color: red;
}
.basket-icon:hover .basket-sidel {
    background-color: red;
}
.basket-icon:hover .basket-sider {
    background-color: red;
}
.basket-icon:hover .basket-bottom {
    background-color: red;
}






/* HERO SECTIONS */
.hero {
    width: 100%;
    height: 93rem;
    display: flex;
}
.hero-img-up,
.hero-img-mid {
    width: 65%;
    height: 100%;
    position: absolute;
    display: flex;
    position: inherit;
    background-size: cover;
    background-position: center;
}
.hero-content-up,
.hero-content-mid{
    width: 35%;
    height: 100%;
}
.hero-img-up {
    background-image: url(/Mammut/slike-mammut/Hiking_FW22_Scottland_019.webp);
}
.hero-content-up {
    background-color: #d0c5af;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-img-mid {
    background-image: url(/Mammut/slike-mammut/50e0035d4d7937a60a0e19717c701026.png);
}
.hero-content-mid {
    background-color: #23293c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-img-dwn {
    width: 100%;
    height: 100%;
    background-image: url(/Mammut/slike-mammut/mammut1.jpeg);
    background-size: cover;
}
.hero-text-wrapper {
    width: 90%;
    height: 40rem;
    position: absolute;
    bottom: 20rem;
    position: inherit;
}
.hero-title {
    font-size: 10.24rem;
    margin: 2.56rem 0 0 0;
}
.hero-title-mid {
    font-size: 10.24rem;
    margin: 2.56rem 0 0 0;
    color: white;
}
.hero-text {
    font-size: 1.8rem;
    margin: 2.56rem 0 2.56rem 0;
}
.hero-text-mid {
    font-size: 1.8rem;
    margin: 2.56rem 0 2.56rem 0;
    color: white;
}
.gender-link-container {
    width: 10rem;
    height: 3rem;
    display: block;
    margin: 2.56rem 2.56rem 2.56rem 0;
    float: left;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.hero-arrow-container {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0.2rem;
    transition: all .4s ease-in-out;
    translate: -3rem;
}
.hero-arrow-line {
    width: 1.5rem;
    height: 0.3rem;
    background-color: transparent;
    transition: all .4s ease-in-out;
}
.hero-arrow-line::after,
.hero-arrow-line::before {
    border-radius: 0.2rem;
    content: '';
    width: 0.7rem;
    height: 0.3rem;
    background-color: transparent;
    position: absolute;
    transition: all .4s ease-in-out;
}
.hero-arrow-line::after {
    transform: rotate(45deg);
    translate: 1rem -0.2rem;
    transition: all .4s ease-in-out;
}
.hero-arrow-line::before {
    transform: rotate(-45deg);
    translate: 1rem 0.2rem;
    transition: all .4s ease-in-out;
}
.gender-link-container:hover .hero-arrow-container {
    translate: 0rem;
}
.gender-link-container:hover .hero-arrow-line {
    background-color: black;
}
.gender-link-container:hover .hero-arrow-line::before {
    background-color: black;
}
.gender-link-container:hover .hero-arrow-line::after {
    background-color: black;
}
.gender-text {
    font-size: 1.8rem;
    translate: -3rem;
    transition: all .3s ease-in-out;
}
.gender-link-container:hover .gender-text {
    translate: 1rem;
}
.discovery-link-container {
    width: 20rem;
    height: 3rem;
    display: block;
    margin: 2.56rem 3rem 2.56rem 0;
    float: left;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.hero-mid-arrow-container {
    height: 100%;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0.2rem;
    transition: all .4s ease-in-out;
    translate: -3rem;
}
.hero-mid-arrow-line {
    width: 1.5rem;
    height: 0.3rem;
    background-color: transparent;
    transition: all .4s ease-in-out;
}
.hero-mid-arrow-line::after,
.hero-mid-arrow-line::before {
    border-radius: 0.2rem;
    content: '';
    width: 0.7rem;
    height: 0.3rem;
    background-color: transparent;
    position: absolute;
    transition: all .4s ease-in-out;
}
.hero-mid-arrow-line::after {
    transform: rotate(45deg);
    translate: 1rem -0.2rem;
    transition: all .4s ease-in-out;
}
.hero-mid-arrow-line::before {
    transform: rotate(-45deg);
    translate: 1rem 0.2rem;
    transition: all .4s ease-in-out;
}
.discovery-link-container:hover .hero-mid-arrow-container {
    translate: 0rem;
}
.discovery-link-container:hover .hero-mid-arrow-line {
    background-color: white;
}
.discovery-link-container:hover .hero-mid-arrow-line::before {
    background-color: white;
}
.discovery-link-container:hover .hero-mid-arrow-line::after {
    background-color: white;
}
.discovery-text {
    font-size: 1.8rem;
    position: absolute;
    transition: all .2s ease-in-out;
    color: white;
    white-space: nowrap;
}
.discovery-link-container:hover .discovery-text {
    translate: 3rem;
}





/* CATEGORIES CONTAINER */
.categories-container {
    width: 100%;
    height: 55rem;
    position: relative;
    display: flex;
    align-items: center;
}
.categories-heading {
    width: 35%;
    height: 40%; 
    padding: 0 7.168rem 0 5.12rem;
    display: flex;  
    position: relative;
}
.categories-text {
    font-size: 4rem;
}
@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }
  
  .dot {
    animation: blink 2s infinite;
    background-color: red;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    left: 40%;
    top: 33%;
  }
  
.categories-item {
    width: 20%;
    height: 65%;
    margin: 2% 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
 }
 .clothing {
    background-image: url(/Mammut/slike-mammut/clothing.jpg);
    background-size: cover;
    background-position: center;
 }
 .footwear {
    background-image: url(/Mammut/slike-mammut/footwear.jpg);
    background-size: cover;
    background-position: center;
 }
 .equipment {
    background-image: url(/Mammut/slike-mammut/equipment.jpg);
    background-size: cover;
    background-position: center;
 }
 .categories-item-text-wrapper {
    width: 10rem;
    height: 3rem;
    display: block;
    margin: 2.56rem 3rem 2.56rem 0 ;
    float: left;
    position: relative;
    display: flex;
    align-items: center;
}
.categories-arrow-container {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0.2rem;
    transition: all .4s ease-in-out;
    translate: -3rem;
}
.categories-arrow-line {
    width: 1.5rem;
    height: 0.3rem;
    background-color: transparent;
    transition: all .4s ease-in-out;
}
.categories-arrow-line::after,
.categories-arrow-line::before {
    border-radius: 0.2rem;
    content: '';
    width: 0.7rem;
    height: 0.3rem;
    background-color: transparent;
    position: absolute;
    transition: all .4s ease-in-out;
}
.categories-arrow-line::after {
    transform: rotate(45deg);
    translate: 1rem -0.2rem;
    transition: all .4s ease-in-out;
}
.categories-arrow-line::before {
    transform: rotate(-45deg);
    translate: 1rem 0.2rem;
    transition: all .4s ease-in-out;
}
.categories-item:hover .categories-arrow-container {
    translate: 0;
}
.categories-item:hover .categories-arrow-line {
    background-color: white;
}
.categories-item:hover .categories-arrow-line::before {
    background-color: white;
}
.categories-item:hover .categories-arrow-line::after {
    background-color: white;
}
.categories-item-text {
    font-size: 3rem;
    translate: -3rem;
    transition: all .3s ease-in-out;
    color: white;
}
.categories-item:hover .categories-item-text {
    translate: 1rem;
}



/* CARD CONTAINER */
.card-container {
    width: 100%;
    height: 100rem;
    display: flex;
    position: relative;
}
.card {
    background-color: black;
    width: 40%;
    height: 75%;
    position: absolute;
}
.cardl {
    left: 9%;
    top: 10%;
    overflow: hidden;
}
.cardr {
    right: 9%;
    top: 15%;
    overflow: hidden;
}
.card-men {
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url(/Mammut/slike-mammut/Men.jpg);
    background-position: center;
    background-size: cover;
    transition: all .5s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
}
.card:hover .card-men,
.card:focus .card-men {
  transform: scale(1.05);
}
.card-women {
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url(/Mammut/slike-mammut/Women.jpg);
    background-position: center;
    background-size: cover;
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.card:hover .card-women,
.card:focus .card-women {
  transform: scale(1.05);
}








/* CATEGORIES CARD CONTAINER */
.categories-card-container {
    width: 100%;
    height: 55rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category-card-wrapper {
    width: 90%;
    height: 40rem;
    position: relative;
    display: flex;
    justify-content: center;
}
.category-card {
    width: 55rem;
    height: 40%;
    float: left;
    position: absolute;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}
.category-cardtl {
    top: 1rem;
    left: 3rem;
}
.category-cardtm {
    top: 1rem;
    border: 0.3rem solid #e0e0e0;
    border-top: 0;
    border-bottom: 0;
}
.category-cardtr {
    top: 1rem;
    right: 3rem;
}
.category-cardbl {
    bottom: 1rem;
    left: 3rem;
}
.category-cardbm {
    bottom: 1rem;
    border: 0.3rem solid #e0e0e0;
    border-top: 0;
    border-bottom: 0;
}
.category-cardbr {
    bottom: 1rem;
    right: 3rem;
}
.category-card-text {
    font-size: 2.2rem;
    color: black;
    margin-left: 2rem;
}
.category-card-icon-wrapper {
    width: 25rem;
    height: 6rem;
    position: absolute;
    right: 0;
    transition: all .5s ease-in-out;
}
.category-card-icon-wrapper-item {
    width: 6rem;
    height: 100%;
    float: right;
    margin-right: 1rem;
}
.category-card-icon {
    width: 100%;
    height: 100%;
}
.category-card-icon-wrapper-item-rain-jacket {
    translate: 5rem;
    transition: all .35s ease-in-out;
}
.category-card-icon-wrapper-item-first {
    translate: 15rem;
    transition: all .35s ease-in-out;
}
.category-card-icon-wrapper-item-second {
    translate: 16rem;
    transition: all .4s ease-in-out;
}
.category-card-icon-wrapper-item-third {
    translate: 17rem;
    transition: all .5s ease-in-out;
}
.category-card:hover .category-card-icon-wrapper-item-first {
    translate: 0rem;
}
.category-card:hover .category-card-icon-wrapper-item-second {
    translate: 0rem;
}
.category-card:hover .category-card-icon-wrapper-item-third {
    translate: 0rem;
}
.category-card:hover .category-card-icon-wrapper-item-rain-jacket {
    translate: 0rem;
}





/* FOOTER */
.footer-main {
    width: 100%;
    height: 100rem;
    background-color: #23293c;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.footer-communications {
    position: absolute;
    width: 35%;
    height: 30rem;
    left: 2.5%;
    top: 5%;
    
}
.communications-container {
    width: 50%;
    height: 50%;
    display: flex;
    background-color: #23293c;
    float: left;
    position: relative;
    align-items: center;
}
.communications-icon-wrapper {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.communications-icon {
    background-color: #303851;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .1s ease-in-out;
}
.communications-icon:hover {
    background-color: #23293c;
}
.footer-icon {
    width: 30%;
    height: 30%;
    margin: auto;
}
.communications-content {
    width: 60%;
    height: 80px;
    position: absolute;
    right: 0;
    align-items: center;
    padding: 1.5rem;

}
.communications-content-title {
    font-size: 2.5rem;
    color: #dcdde0;
    font-weight: bold;
}
.communications-content-text {
    font-size: 1.5rem;
    color: #adaeb2;
    white-space: nowrap;
}
.footer-nav {
    position: absolute;
    width: 35%;
    height: 35rem;
    right: 2.5%;
    top: 5%;
    border: 0.4rem solid #3f4454;
    border-radius: 0.2rem;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.footer-nav-item {
    width: 100%;
    height: 25%;
    border: 0.4rem solid #3f4454;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-content {
    font-size: 3rem;
    color: #dcdde0;
    position: absolute;
    transition: all .2s ease-in-out;
    
}
.footer-nav-item:hover .nav-content {
    transform: translateX(4rem);
}
.footer-nav-item:hover .arrow-line {
    background-color: #dcdde0;
}
.footer-nav-item:hover .arrow-line::after {
    background-color: #dcdde0;
}
.footer-nav-item:hover .arrow-line::before {
    background-color: #dcdde0;
}
.footer-nav-item:hover .arrow-container {
    translate: -1.5rem;
}
.arrow-container {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0.2rem;
    translate: -6rem;
    transition: all .3s ease-in-out;
}
.arrow-line {
    width: 2.5rem;
    height: 0.3rem;
    background-color: transparent;
    transition: all .3s ease-in-out;
}
.arrow-line::after,
.arrow-line::before {
    border-radius: 0.2rem;
    content: '';
    width: 1.5rem;
    height: 0.3rem;
    background-color: transparent;
    position: absolute;
    transition: all .2s ease-in-out;
}
.arrow-line::after {
    transform: rotate(45deg);
    translate: 1.5rem -0.5rem;
    transition: all .3s ease-in-out;
}
.arrow-line::before {
    transform: rotate(-45deg);
    translate: 1.5rem 0.5rem;
    transition: all .3s ease-in-out;
}
.footer-description {
    width: 95%;
    height: 40rem;
    position: relative;
    position: absolute;
    bottom: 0;
}
.footer-company-description {
    width: 35%;
    height: 70%;
    position: relative;
}
.description-heading {
    font-size: 1.5rem;
    color: #adaeb2;
    margin: 0 0 1.5rem 2%;
}
.description-content {
    font-size: 2.5rem;
    color: #dcdde0;
    margin-left: 2%;
}
.location-switch-container {
    width: 15rem;
    height: 4rem;
    position: absolute;
    left: 2%;
    bottom: 2%;
    display: flex;
}
.location-icon-wrapper {
    position: absolute;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: center;
}
.location-icon {
    width: 90%;
    height: 90%;
    position: inherit;
    display: block;
}
.location-heading {
    font-size: 1.3rem;
    color: #adaeb2;
    position: absolute;
    left: 4rem;
    top: 5%;
} 
.location-switch-country {
    position: absolute;
    bottom: 5%;
    left: 4rem;
    font-size: 1.3rem;
    color: #dcdde0;
} .footer-sub-nav-wrapper {
    position: absolute;
    width: 35%;
    height: 40rem;
    right: 2%;
    top: 0;
    display: flex;
}
.footer-sub-nav {
    width: 50%;
    height: 100%;
    float: right;
}
.footer-sub-nav-heading {
    font-size: 1.5rem;
    color: #adaeb2;
    margin-bottom: 1rem;
}
.footer-sub-nav-item {
    width: 100%;
    height: 4rem;
    display: flex;
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.sub-nav-content {
    position: inherit;
    transition: all .3s ease-in-out;
    font-size: 2.5rem;
    color: #dcdde0;
    position: absolute;
    margin: 0;
}
.sub-nav-arrow-container {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0.2rem;
    translate: -4rem;
    transition: all .3s ease-in-out;
}
.sub-nav-arrow-line {
    width: 2rem;
    height: 0.2rem;
    background-color: transparent;
    transition: all .3s ease-in-out;
}
.sub-nav-arrow-line::after,
.sub-nav-arrow-line::before {
    border-radius: 0.2rem;
    content: '';
    width: 1rem;
    height: 0.2rem;
    background-color: transparent;
    position: absolute;
    transition: all .2s ease-in-out;
}
.sub-nav-arrow-line::after {
    transform: rotate(45deg);
    translate: 1.3rem -0.3rem;
    transition: all .3s ease-in-out;
}
.sub-nav-arrow-line::before {
    transform: rotate(-45deg);
    translate: 1.3rem 0.3rem;
    transition: all .3s ease-in-out;
}
.footer-sub-nav-item:hover .sub-nav-content {
    transform: translateX(2rem);
}
.footer-sub-nav-item:hover .sub-nav-arrow-line {
    background-color: #dcdde0;
}
.footer-sub-nav-item:hover .sub-nav-arrow-line::after {
    background-color: #dcdde0;
}
.footer-sub-nav-item:hover .sub-nav-arrow-line::before {
    background-color: #dcdde0;
}
.footer-sub-nav-item:hover .sub-nav-arrow-container {
    translate: -1.5rem;
}
.footer-lower {
    height: 6rem;
    position: absolute;
    bottom: 0;
    left: 2.5%;
}
.footer-legal-item {
    font-size: 1.5rem;
    color: #dcdde0;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    margin-right: 3rem;
    cursor: pointer;
}
.footer-legal-item:hover {
    font-style: italic;
}